body{
    background:rgb(39, 43, 51);
    border: 2px solid yellow;
	margin: 0;
}
h1,h3,p{
	text-align: center;
}
h3,ul{
	margin: 0;
	list-style: none;
	padding: 0;
}

section{
	border: 2px solid red;
	padding: 1rem;
	margin: 1.25rem .3125rem;
}
img{
	border: 2px solid rebeccapurple;
	width: 100%;
    object-fit: cover;
}

/* music background */
.back_music{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 1.25rem;
}
.back_music button{
	background: #000040;
}

/* overlay style */
.overlay-open{
	background: rgba(53, 47, 47, 0.821);
	position: absolute;
	inset: 1;
}
.overlay-close{
	position: absolute;
	bottom: 0;
}
.bg-overlay{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}
.overlay{
	height: 100%;
	position: fixed;
	inset: 0;
	padding: 0 100px 0 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	visibility: hidden;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 100;
}
.switch{
	visibility: visible;
}


/* nav scroll style */
.nav-padding{
	padding: 20px 0;
}
.nav-style{
	width: 100%;
	color: black;
	border: 1px solid white;
	background: rgb(36, 31, 31);
	top: 0;
	left: 0;
	z-index: 50;
	transition : all 0.3s ease-out;
}

.scroll-on{
	position: fixed;
	padding: 10px 0;
}

nav ul{
	display: flex;
	list-style: none;
	justify-content: space-evenly;
	gap: 1.2rem;
	margin: 0;
}

/* main style */
/* main{} */

.main_map h1{
    font-size: x-large;
}
.main_characters{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
}
.main_characters img{
	height: 400px;
}
.animation-reveal{
	animation: auto linear reveal both;
	animation-timeline: view();
	animation-range: entry 25% cover 50%;
}
@keyframes reveal{
	from { opacity: 0; clip-path: inset(0 30% 0 30%);}
	to { opacity: 1; clip-path: inset(0% 0% 0% 0%);}
}
.main_characters div{
	display: flex;
	gap: 1rem;
}
.main_characters article .statistics{
	flex-direction: column;
}
.main_characters article .statistics .data-info ul{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 200px;
}
.enemies-list ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	gap: 2rem;
}
.enemies-list ul li{
	width: min-content;
}
.enemies-list img{
	width: 100px;
	border-radius: 50%;
	height: 100px;
}

.game-notes span{
	font-size: 1.5rem;
}
.game-notes ul li::before{
	content: '▪️';
	padding-right: 10px;
}

.dialogue{
	cursor: alias;
}
.pj-info{
	cursor: pointer;
}
/* .tooltip {
	position: relative;
	display: inline-block;
}
.tooltip::after{
	visibility: hidden;
	position: absolute;
	bottom: 100%;
	left: 100%;
	transform: translateX(-50%);
	background-color: #333;
	color: #fff;
	border-radius: 1rem;
	padding: .3125rem;
	border-radius: .1875rem;
	font-size: .875rem;
	opacity: 0;
	transition: opacity 0.3s, visibility 0.3s;
}
  .tooltip::after {
	content: attr(data-tooltip);
  } */
  /* .tooltip::after{
	content: attr(data-tooltip-dialogue);
  } */
  /* .tooltip:hover::after{
	visibility: visible;
	opacity: 1;
  } */
.switch-popover{
	position: relative;
	cursor: pointer;
}
.popover-boss-info{
	display: none;
	position: absolute;
	width: 200px;
	left: 100%;
	bottom: 100%;
	background: rgb(26, 29, 34);
	font-weight: 900;
	clip-path: polygon(0% 0%, 100% 0%, 100% 88%, 9% 88%, 0 100%);;
	margin: 0;
	padding: .9375rem;
	cursor: default
}
.popover-boss-info.active-ppv-bossList{
	display: block;
}
  