@font-face {
	font-family: Jost;
	src: url(../assets/fonts/jost-vf.woff2) format("woff2");
}
@font-face {
	font-family: VictorMono;
	src: url(../assets/fonts//victor-mono-500.woff2) format("woff2");
}
:root{
	--primary-font: 'Jost';
	--second-font: 'VictorMono';
	--primaryColor: white;
	--SecondColor: black;
	--colorBar-red: #ff0f1c;
	--primaryBackground: rgb(39, 43, 51);
	--secondBackground: linear-gradient(#000d, #000a);
	--thirdBackground: #000040;
	--fourthBackground: rgb(26, 29, 34);
	--tooltipBackground: #333;
	--backgroundNav: rgb(36, 31, 31);
	--overlayBackground: rgba(0, 0, 0, 0.8);
	--borderColorbody: .125rem solid yellow;
	--borderColorImg: .125rem solid rebeccapurple;
	--borderColorSection: .125rem solid red;
	--borderColorNav: .0625rem solid white;

}
::-webkit-scrollbar{
	display: none;
}
body{
    background:var(--primaryBackground);
    border: var(--borderColorbody);
	margin: 0;
}
h1,h3,p{
	text-align: center;
	font-family: var(--primary-font);
}
h3,ul{
	margin: 0;
	list-style: none;
	padding: 0;
}
a{
	text-decoration: none;
	color: white;
}

section{
	border: var(--borderColorSection);
	padding: 1rem;
	margin: 1.25rem .3125rem;
}
img{
	border: var(--borderColorImg);
	width: 100%;
    object-fit: cover;
}

/* music background */
.back_music{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 1.25rem;
}
.back_music button{
	background: var(--thirdBackground);
}

/* overlay style */
.overlay-open{
	background: var(--overlayBackground);
	position: absolute;
	inset: 1;
}
.overlay-close{
	position: absolute;
	margin: .625rem;
	bottom: 0;
}
.bg-overlay{
	width: 100%;
	height: 100%;
	background: var(--overlayBackground);
	padding: 2.5rem;
}
.overlay{
	height: 100%;
	position: fixed;
	inset: 0;
	padding: 0 6.25rem 0 6.25rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--primaryColor);
	visibility: hidden;
	text-align: center;
	background-color: var(--overlayBackground);
	z-index: 100;
}
.switch{
	visibility: visible;
}


/* nav scroll style */
.nav-padding{
	padding: 1.25rem 0;
}
.nav-style{
	width: 100%;
	color: var(--SecondColor);
	border: var(--borderColorNav);
	background: var(--backgroundNav);
	top: 0;
	left: 0;
	z-index: 50;
	transition : all 0.3s ease-out;
}

.scroll-on{
	position: fixed;
	padding: .625rem 0;
}

nav ul{
	display: flex;
	list-style: none;
	justify-content: space-evenly;
	gap: 1.2rem;
	margin: 0;
}
nav span{
	color: white;
}

/* main style */

.main_map h1{
    font-size: x-large;
}
.main_characters{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
}
.main_characters img{
	height: 25rem;
}
.animation-reveal{
	animation: auto linear reveal both;
	animation-timeline: view();
	animation-range: entry 25% cover 30%;
}
@keyframes reveal{
	from { opacity: 0; clip-path: inset(0 30% 0 30%);}
	to { opacity: 1; clip-path: inset(0% 0% 0% 0%);}
}
.main_characters div{
	display: flex;
	gap: 1rem;
}
.main_characters article .statistics{
	flex-direction: column;
}
.main_characters article .statistics .data-info ul{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 12.5rem;
}
.enemies-list ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	padding: 0 12rem 0 12rem;
	gap: 2rem;
}
.enemies-list ul li{
	width: min-content;
}
.enemies-list img{
	width: 6.25rem;
	border-radius: 50%;
	height: 6.25rem;
}

/* notes of game */
.game-notes{
	font-family: var(--primary-font);
}
.game-notes span{
	font-size: 1.5rem;
}
.game-notes div ul{
	padding: 0 0 0 1.25rem;
}
.game-notes div ul li::marker{
	content: "➡️";
	margin: .625rem;
}


/* tooltips and popovers */
.pj-info{
	cursor: pointer;
}

.tooltip {
	position: relative;
	display: inline-block;
	cursor: text;
}

.tooltip::after{
	visibility: hidden;
	position: absolute;
	bottom: 100%;
	left: 100%;
	transform: translateX(-50%);
	background-color: var(--tooltipBackground);
	color: var(--primaryColor);
	border-radius: 1rem;
	padding: .3125rem;
	border-radius: .1875rem;
	font-size: .875rem;
	opacity: 0;
	transition: opacity 0.3s, visibility 0.3s;
}
.tooltip::after {
	content: attr(data-tooltip);
}
.tooltip:hover::after{
	visibility: visible;
	opacity: 1;
}
.tooltip img{
	cursor: alias;
}

.switch-popover{
	position: relative;
	cursor: pointer;
	transition: all .3s ease-in-out;
}
.switch-popover span{
	font-family: var(--second-font);

}
.switch-popover:hover{
	color: var(--primaryColor);
}
.popover-boss-info{
	display: none;
	position: absolute;
	width: 12.5rem;
	left: 100%;
	bottom: 100%;
	background: var(--fourthBackground);
	font-weight: 900;
	letter-spacing: .0625rem;
	clip-path: polygon(0% 0%, 100% 0%, 100% 88%, 9% 88%, 0 100%);;
	margin: 0;
	padding: .9375rem;
	cursor: default;
	z-index: 50;
}

.popover-boss-info.active-ppv-bossList{
	display: block;
}


/* dialog */
.hollowChibi{
	display: flex;
	justify-content: space-around;
	align-items: end;
}
.hollowChibi div{
	display: flex;
	flex-direction: column;
}
dialog button, dialog span, dialog progress{
	display: block;
	width: 100%;
	text-align: center;
	margin: .3125rem 0 .3125rem 0;	
}
#progressBar{
	accent-color: var(--colorBar-red);
}
.hollowChibi img, dialog img{
	width: 18.75rem;
}
#alert-dialog::backdrop {
	background: var(--secondBackground);
	
}
